@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    I WILL NOT TOLD YOU WHERE IM LIVING!
</address>

<address>
    BUT I COULD GIVE YOU MY MAIL :O <br />
    <strong>Email:</strong> <a href="mailto:gail64917@yandex.ru">gail64917@yandex.ru</a><br />
</address>
